<!-- Header Partial -->
<%- include ('partials/header.ejs') %>

    <main>
      <section id="about">
        <div>
          <h1>ERREUR 404 : Page non trouvée </h1>
        </div>
      </section>
    </main>

<!-- Footer Partial -->
<%- include ('partials/footer.ejs') %>