<!-- Header Partial -->
<%- include ('partials/header.ejs') %>

    <main>
          <section id="catalog">
        <h1>Notre catalogue</h1>

        <div class="articles only-display-3-articles" id="articles-list">
          <article>
            <img
              src="../images/coffees/295432730.png"
              alt="Sumatra Mandheling"
            />
            <div>
              <h2>Sumatra Mandheling 1</h2>
              <p>Origine Indonésie</p>
              <p>25,99 €/kg</p>
              <a class="button-outline" href="#">Voir le détail</a>
            </div>
          </article>

          <article>
            <img
              src="../images/coffees/295432730.png"
              alt="Sumatra Mandheling"
            />
            <div>
              <h2>Sumatra Mandheling</h2>
              <p>Origine Indonésie</p>
              <p>25,99 €/kg</p>
              <a class="button-outline" href="#">Voir le détail</a>
            </div>
          </article>

          <article>
            <img
              src="../images/coffees/295432730.png"
              alt="Sumatra Mandheling"
            />
            <div>
              <h2>Sumatra Mandheling</h2>
              <p>Origine Indonésie</p>
              <p>25,99 €/kg</p>
              <a class="button-outline" href="#">Voir le détail</a>
            </div>
          </article>

          <article>
            <img
              src="../images/coffees/295432730.png"
              alt="Sumatra Mandheling"
            />
            <div>
              <h2>Sumatra Mandheling</h2>
              <p>Origine Indonésie</p>
              <p>25,99 €/kg</p>
              <a class="button-outline" href="#">Voir le détail</a>
            </div>
          </article>

          <article>
            <img
              src="../images/coffees/295432730.png"
              alt="Sumatra Mandheling"
            />
            <div>
              <h2>Sumatra Mandheling</h2>
              <p>Origine Indonésie</p>
              <p>25,99 €/kg</p>
              <a class="button-outline" href="#">Voir le détail</a>
            </div>
          </article>

          <article>
            <img
              src="../images/coffees/295432730.png"
              alt="Sumatra Mandheling"
            />
            <div>
              <h2>Sumatra Mandheling</h2>
              <p>Origine Indonésie</p>
              <p>25,99 €/kg</p>
              <a class="button-outline" href="#">Voir le détail</a>
            </div>
          </article>

          <article>
            <img
              src="../images/coffees/295432730.png"
              alt="Sumatra Mandheling"
            />
            <div>
              <h2>Sumatra Mandheling 2</h2>
              <p>Origine Indonésie</p>
              <p>25,99 €/kg</p>
              <a class="button-outline" href="#">Voir le détail</a>
            </div>
          </article>
        </div>

        <button class="button" id="see-all-products-button">
          Voir tous les produits
        </button>
      </section>
    </main>

<!-- Footer Partial -->
<%- include ('partials/footer.ejs') %>