<!-- Header Partial -->
<%- include ('partials/header.ejs') %>

    <main>
      <section id="thankyou">
        <div>
          <p> Merci, nous avons reçu votre message et reviendront vers vous rapidement. </p>
        </div>
        <a class="button" href="/">Retour à l'accueil</a>
      </section>
    </main>

<!-- Footer Partial -->
<%- include ('partials/footer.ejs') %>