/* ======== Commons ======== */
h1 {
  margin: 0;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  border-bottom: 1px var(--color-cream) solid;
  padding-bottom: 2rem;
  margin: 2rem;
}

/* ======== Form Section ======== */
#add-coffee {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

input {
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

textarea {
  border-radius: 0.5rem;
  height: 8rem;
  padding: 0.5rem;
  overflow: scroll;
  resize: none;
}

/* ======== Messages Section ======== */

#read-msg article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 1px var(--color-cream) solid;
}

/* ======== Responsive ======== */

@media screen and (max-width: 1280px) {
  section {
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
  }

  #add-coffee {
    width: 100%;
  }
}
