/* ======== Commons ======== */

#about,
#atmosphere,
#makers {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

img {
  border-radius: 0.7rem;
  object-fit: cover;
  width: 50vw;
  max-width: 650px;
}

@media screen and (max-width: 1280px) {
  #about img {
    display: none;
  }
}

/* ======== About Section ======== */

#about h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

#about p {
  line-height: 1.5rem;
  margin: 3rem 0;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
}

#about a {
  width: fit-content;
}

/* ======== Content Section ======== */
#map {
  height: 20rem;
  width: 100%;
  border-radius: 0.7rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

#atmosphere p,
#makers p {
  line-height: 1.5rem;
  margin: 1rem 0;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
}

/* Bonus : hide all p after the 3rd one until the user clicks the button to display more */
.only-display-3-p p:nth-child(n + 3) {
  display: none;
}

@media screen and (max-width: 1280px) {
  #atmosphere img,
  #makers img {
    display: none;
  }
}

/* ======== Form Section ======== */
#contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

input {
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

textarea {
  border-radius: 0.5rem;
  height: 8rem;
  padding: 0.5rem;
  overflow: scroll;
  resize: none;
}
